{% extends 'base.html' %}
{% block title %}Certificate | {{std.student_name}}{% endblock %}
{% block body %}
<div class="about" id="about">
    <div class="center-vertical">
        <div class="about-us-section">
            <div class="text-center my-3">
                <h1>Certificate info Here</h1>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <div class="img-head">
                            <img src="https://drive.google.com/uc?export=view&id={{std.gdrive_id}}" alt="Cert Here">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th scope="col"><b class="blockquote">Info Type</b></th>
                                    <th scope="col"><b class="blockquote">Information</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">Name</td>
                                    <td>{{std.student_name}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Course</td>
                                    <td>{{std.course}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Certificate Id</td>
                                    <td>{{std.cert_number}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Certified on</td>
                                    <td>{{std.cert_created}}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Certificate Share and Verification link</td>
                                    <td><a href="http://127.0.0.1:8000/cert/{{std.slug}}">https://isvr.org.in/cert/{{std.slug}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}