{% extends 'base.html' %}
{% block title %}ISVR | Certificate Check{% endblock %}
{% block body %}
{% load static %}

<section>
    <div class="container my-5">
        <div class="text-center mb-5 col-md-10 mx-auto">
            <h1 class="font-weight-bold display-6">Courses <span class="text-primary-color">We</span> Offer</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://raw.githubusercontent.com/S0M3N/isvr-cert-verify/master/static/image/rocketry.jpg"
                        alt="Rocketry Image">
                    <div class="card-body">
                        <h5 class="card-title">Model Rocketry. Fundamentals of rockets</h5>
                        <p class="card-text mt-4"><i class="fa-solid fa-clock"></i> 3 time period options</p>
                        <a href="#" class="btn bg-primary-color text-light">Learn More</a>
                        <hr>
                        <p class="card-text mt-4">Start course @ <s>₹-14999</s></p>
                        <h3 class="text-right">Rs. 11999/-</h3>
                        <p class="text-right"><a href="#">More options</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://raw.githubusercontent.com/S0M3N/isvr-cert-verify/master/static/image/rocketry.jpg"
                        alt="Rocketry Image">
                    <div class="card-body">
                        <h5 class="card-title">Model Rocketry. Fundamentals of rockets</h5>
                        <p class="card-text mt-4"><i class="fa-solid fa-clock"></i> 3 time period options</p>
                        <a href="#" class="btn bg-primary-color text-light">Learn More</a>
                        <hr>
                        <p class="card-text mt-4">Start course @ <s>₹-14999</s></p>
                        <h3 class="text-right">Rs. 11999/-</h3>
                        <p class="text-right"><a href="#">More options</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://raw.githubusercontent.com/S0M3N/isvr-cert-verify/master/static/image/rocketry.jpg"
                        alt="Rocketry Image">
                    <div class="card-body">
                        <h5 class="card-title">Model Rocketry. Fundamentals of rockets</h5>
                        <p class="card-text mt-4"><i class="fa-solid fa-clock"></i> 3 time period options</p>
                        <a href="#" class="btn bg-primary-color text-light">Learn More</a>
                        <hr>
                        <p class="card-text mt-4">Start course @ <s>₹-14999</s></p>
                        <h3 class="text-right">Rs. 11999/-</h3>
                        <p class="text-right"><a href="#">More options</a></p>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}