{% extends 'base.html' %}
{% block title %}ISVR | Certificate Check{% endblock %}
{% block body %}
{% load static %}
<div class="service my-4" id="service">
    <h4 class="text-center">Our Services</h4>
    <h1 class="text-center my-4">High Performance <br>curriculum For Multiple <br><b>Space Fields</b></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/rocketry.jpg' %}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Rocketry</h4>
                        <!-- Text -->
                        <p class="card-text">This course covers the fundamentals of rockets as well as
                            contemporary
                            advancements in rocket propulsion,Solid, liquid,electrical,nuclear fuels and rockets
                        </p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/cubeset.png' %}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Cube satellite</h4>
                        <!-- Text -->
                        <p class="card-text">Take a look at a demo of our Satellite Designing course. Allow one
                            of
                            our knowledgeable mentors to lead you through the course.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/drone.jpg' %}"
                            src="/assets/customs/statics/image/drone.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Drones</h4>
                        <!-- Text -->
                        <p class="card-text">Aerial photography and videography are two of the most common
                            business
                            applications and uses for UAV Drones, Experience them with ISVR.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/spacemed.png' %}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Space Medicines</h4>
                        <!-- Text -->
                        <p class="card-text">Astronautical hygiene is the application of science and technology
                            to
                            astronauts in space, whereas space medicine is the practise of medicine on
                            astronauts in
                            space.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/astronomy.jpg' %}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Astronomy</h4>
                        <!-- Text -->
                        <p class="card-text">Astronomy is the study of everything beyond Earth's atmosphere in
                            the
                            cosmos. This includes objects visible with the naked eye, such as the Sun, Moon,
                            planets, and stars.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-4 py-3 py-sm-0">
                <div class="card">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="{% static '/image/probes.jpg' %}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title">Space Research</h4>
                        <!-- Text -->
                        <p class="card-text">A research internship, often known as a dissertation internship, is
                            one
                            in which you conduct research for a corporation,It is usually undertaken by students
                            in
                            their final year of academic study.</p>
                        <!-- Button -->
                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="about" id="about">
        <div class="center-vertical">
            <div class="about-us-section">
                <div class="text-center">
                    <h2>Search and Check for Certificate</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                            <div class="search">
                                <div class="container justify-content-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="input-group mt-4">
                                                <form class="form-inline" action="/search" method="GET">
                                                    <input type="text" class="form-control input-text"
                                                        placeholder="Search Certificate...." name="cert_id"
                                                        id="cert_id">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-success my-2 my-sm-0"
                                                            type="submit">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="break-small mb-2"></div>
                        <p class="text-para">
                            If you have any certificate reference number you can directly check that form here.<br>
                            Just type the number here and get the information about the certficate and the course by the
                            holder.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Want to know about any of the course.</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form method="post" action="/contact">
                            {% csrf_token %}
                            <label for="form_name">Firstname</label>
                            <input id="form_name" type="text" name="name" id="name" class="form-control"
                                placeholder="Please enter your firstname" required="required"
                                data-error="Firstname is required.">
                            <label for="form_lastname">Lastname</label>
                            <input id="form_lastname" type="text" name="surname" id="surname" class="form-control"
                                placeholder="Please enter your lastname" required="required"
                                data-error="Lastname is required.">
                            <label for="form_email">Email</label>
                            <input id="form_email" type="email" name="email" id="email" class="form-control"
                                placeholder="Please enter your email " required="required"
                                data-error="Valid email is required.">
                            <label for="form_need">Subject</label>
                            <input id="form_subject" type="text" name="subject" id="subject" class="form-control"
                                placeholder="Please enter subject " required="required"
                                data-error="Valid subject is required.">
                            <label for="form_need">Message</label>
                            <textarea id="form_message" name="message" id="message" class="form-control"
                                placeholder="Write your message here." rows="4" required="required"
                                data-error="Please, leave us a message."></textarea>
                            <input type="submit" class="my-2 btn btn-outline-primary btn-send  pt-2 btn-block"
                                value="Send Message">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}